In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np
from matplotlib.ticker import StrMethodFormatter

#########################################################################################
# table 1.1 starts 
# Read data from files (companies and rounds2)
# Renamed file rounds2 to rounds as it was giving issue with name : round2
companies=pd.read_csv (r"D:\UPGRAD\assignments\companies.txt",sep="\t", encoding="ISO-8859-1")
rounds2=pd.read_csv (r"D:\UPGRAD\assignments\rounds.csv", encoding="ISO-8859-1")

# Fetch the uniqe companies from the companies 
compaines_temp=companies.apply(lambda x: x.astype(str).str.lower())
unique_companies=compaines_temp.drop_duplicates(subset='permalink',keep = False, inplace = False)
#print("Unique count of Companies: ",len(unique_companies['permalink']))


# Fetch the uniqe companies from the rounds 
rounds2_temp=rounds2.apply(lambda x: x.astype(str).str.lower())
unique_rounds=rounds2_temp.drop_duplicates(subset='company_permalink',keep = False, inplace = False) 
#print("Unique count of Companies in rounds data frame: ",len(unique_rounds['company_permalink']))

# code for looking that all companies from rounds2 are available in companies or not 
permalink_compaines=unique_companies['permalink']
company_permalink_rounds=unique_rounds['company_permalink']
#print(company_permalink_rounds.isin(permalink_compaines))

# code to merge both the data frame
master_frame=pd.merge(compaines_temp,rounds2_temp,left_on='permalink',right_on='company_permalink')
# creating a copy of merged data frame t obe used later
master_frame_original=pd.merge(compaines_temp,rounds2_temp,left_on='permalink',right_on='company_permalink')
#print("master_frame_original  ",master_frame.info())

# table 1.1 ends 
#######################################################################################

#table 2.1 starts

master_frame["raised_amount_usd"].replace({"nan": ""}, inplace=True)
master_frame['raised_amount_usd']=pd.to_numeric(master_frame['raised_amount_usd'])
mean_by_funding=master_frame.groupby(['funding_round_type'])['raised_amount_usd'].mean()
#mean_by_funding.head(20)
total_by_funding=master_frame.groupby(['funding_round_type'])['raised_amount_usd'].sum()
# plot graph between mean_by_funding and total_by_funding

index = ['venture', 'angel', 'seed','private_equity']
df = pd.DataFrame({'averagebyfunding': mean_by_funding}, index=index)
# it can be uncommented to see the graph 
#ax = df.plot.bar(rot=0)
df1 = pd.DataFrame({'totalamountbyfunding': total_by_funding}, index=index)
#ax = df1.plot.bar(rot=0)
# plot graph for fraction of total investments (globally) in angel,
# venture, seed, and private equity, and the average amount of investment in each funding type



#table 2.1 ends
######################################################################################
#table 3.1 starts
private_equity_filter = master_frame[master_frame['funding_round_type']=='private_equity']
group_countries=private_equity_filter.groupby('country_code')['raised_amount_usd'].sum()
top9Englishcountries=group_countries.nlargest(9)
# graph to plot top9 countries and total amount investment type 
top9Englishcountries.index.name = 'country_code'
# can be uncommneted later
#top9Englishcountries.plot.line()
#group_countries.plot(kind='bar')
top9Englishcountries.head(20)
#print(top9countries)
#table 3.1 ends
############################################################################################
#table 5.1 starts

# master data frame 'category_list' to lower case 
master_frame_original["raised_amount_usd"].replace({"nan": ""}, inplace=True)
master_frame_original['raised_amount_usd']=pd.to_numeric(master_frame['raised_amount_usd'])
master_frame_original['category_list']=master_frame_original['category_list'].str.lower()
# master data frame 'category_list' remove after |
master_frame_original['category_list']=master_frame_original['category_list'].str.split('|').str[0]
#master_frame_original.head()

# Read mapping csv 
mapping=pd.read_csv (r"D:\UPGRAD\assignments\mapping.csv", encoding="ISO-8859-1")
# lower case of "category_list" column
mapping['category_list']=mapping['category_list'].str.lower()

##############################function ##########

# Create new function to create new column:starts 
def label_sector (row):
   if row['Automotive & Sports'] == 1 :
      return 'Automotive & Sports'
   if row['Blanks'] == 1 :
      return 'Blanks'
   if row['Cleantech / Semiconductors'] == 1 :
       return 'Cleantech / Semiconductors'
   if row['Entertainment'] == 1 :
      return 'Entertainment'
   if row['Health'] == 1 :
      return 'Health'
   if row['Manufacturing'] == 1 :
      return 'Manufacturing'
   if row['News, Search and Messaging'] == 1 :
      return 'News, Search and Messaging'
   if row['Others'] == 1 :
      return 'Others'
   if row['Social, Finance, Analytics, Advertising'] == 1 :
      return 'Social, Finance, Analytics, Advertising'
 # Create new function to creae new column:ends 



####################################

# create new column of 'primary sector'
mapping['primary_sector'] = mapping.apply (lambda row: label_sector(row), axis=1)
# drop extra column
mapping=mapping.drop(columns=['Automotive & Sports','Social, Finance, Analytics, Advertising', 'Blanks','Cleantech / Semiconductors','Entertainment','Health','Manufacturing','News, Search and Messaging','Others'])
#mapping.info()
# merge data frame 
master_frame_original_merged=pd.merge(master_frame_original,mapping,left_on='category_list',right_on='category_list')
#print("master_frame_original_merged",master_frame_original_merged.info())
#master_frame_original_merged.info()
# remove unwanted column 
#master_frame_original_merged.head(100)

# D1 frame
D1=master_frame_original_merged[(master_frame_original_merged['country_code']=='usa') & 
                                (master_frame_original_merged['funding_round_type']=='private_equity')]
flag=D1["raised_amount_usd"].between(5000000, 15000000, inclusive = True) 
D1=D1[flag]

###############################################

# D2 frame 
D2=master_frame_original_merged.loc[(master_frame_original_merged['country_code']=='ind') & 
                                (master_frame_original_merged['funding_round_type']=='private_equity')]
flag=D2['raised_amount_usd'].between(5000000, 15000000, inclusive = True)
D2=D2[flag]
##############################################

D3=master_frame_original_merged.loc[(master_frame_original_merged['country_code']=='gbr') & 
                                (master_frame_original_merged['funding_round_type']=='private_equity')]
flag=D3['raised_amount_usd'].between(5000000, 15000000, inclusive = True)
D3=D3[flag]

###################################################################################
 #Total number of Investments (count)
print("Investment sectors in usa::::",D1.primary_sector.unique() )
print("Investment sectors in ind::::",D2.primary_sector.unique())
print("Investment sectors in gbr::::",D3.primary_sector.unique())
#############################################################################
# Total amount of Investments (dollars)

print("Total amount of inverstment in usa::::",D1['raised_amount_usd'].sum())
print("Total amount of inverstment in ind::::",D2['raised_amount_usd'].sum())
print("Total amount of inverstment in gbr::::",D3['raised_amount_usd'].sum())
############################################################################
# Top sector name , no. of investment wise 
#print("#####",D1.head(100))
print("no. of category wise investment under primary sector in usa",D1.groupby('primary_sector')['category_list'].count())
print("no. of category wise investmen under primary sector in ind",D2.groupby('primary_sector')['category_list'].count())
print("no. of category wise investmen under primary sector in gbr",D3.groupby('primary_sector')['category_list'].count())

# plot graph 3 
d1_temp=D1.groupby('primary_sector')['category_list'].count()
d1_temp.index.name = 'primary_sector'
#d1_temp.plot.line()
d2_temp=D2.groupby('primary_sector')['category_list'].count()
d2_temp.index.name = 'primary_sector'
#d2_temp.plot.line()
d3_temp=D3.groupby('primary_sector')['category_list'].count()
d3_temp.index.name = 'primary_sector'
d3_temp.plot.line()

###############################################################################

# Which country receives highest investment 
D1_temp=D1[D1['primary_sector']=='Cleantech / Semiconductors']
D1_temp1=D1_temp.sort_values('raised_amount_usd',ascending=False)
print("##Highest investment US company ###",D1_temp1.head(n=3))
# india as multiple in 1st group Cleantech / Semiconductors,Entertainment,Others
D2_temp=D2[D2['primary_sector'].isin(['Cleantech / Semiconductors','Entertainment','Others'])]
#.isin([3, 6])
D2_temp1=D2_temp.sort_values('raised_amount_usd',ascending=False)
print("##Highest investment IND company ###",D2_temp1.head(n=3))
# gbr as multiple in 1st group Social, Finance, Analytics, Advertising,Others, News, Search and Messaging, Manufacturing, Cleantech / Semiconductors
D3_temp=D3[D3['primary_sector'].isin(['Social, Finance, Analytics, Advertising','Advertising','Others','News, Search and Messaging','Manufacturing','Cleantech / Semiconductors'])]
D3_temp1=D3_temp.sort_values('raised_amount_usd',ascending=False)
print("##Highest investment GBR company ###",D3_temp1.head(n=3))

# Which country 2nd receives highest investment 
D1_temp2=D1[D1['primary_sector']=='Others']
D1_temp3=D1_temp2.sort_values('raised_amount_usd',ascending=False)
print("##Highest 2nd  investment US company ###",D1_temp3.head(n=3))

# India is all haivng 1 investment so no 2nd 

#print("##Highest investment IND company ###",D1.head(n=3))
# gbr as multiple in 1st group Social, Finance, Analytics, Advertising,Others, News, Search and Messaging, Manufacturing, Cleantech / Semiconductors
D3_temp2=D3[D3['primary_sector'].isin(['Automotive & Sports','Entertainment'])]
D3_temp3=D3_temp2.sort_values('raised_amount_usd',ascending=False)
print("##Highest 2nd investment GBR company ###",D3_temp3.head(n=2))

Investment sectors in usa:::: ['News, Search and Messaging' 'Others' 'Entertainment'
 'Cleantech / Semiconductors' 'Health'
 'Social, Finance, Analytics, Advertising' 'Manufacturing'
 'Automotive & Sports']
Investment sectors in ind:::: ['Others' 'Cleantech / Semiconductors' 'Entertainment']
Investment sectors in gbr:::: ['Others' 'Cleantech / Semiconductors' 'News, Search and Messaging'
 'Manufacturing' 'Entertainment' 'Automotive & Sports'
 'Social, Finance, Analytics, Advertising']
Total amount of inverstment in usa:::: 2620954330.0
Total amount of inverstment in ind:::: 31600000.0
Total amount of inverstment in gbr:::: 128775404.0
no. of category wise investment under primary sector in usa primary_sector
Automotive & Sports                         6
Cleantech / Semiconductors                 99
Entertainment                               7
Health                                     34
Manufacturing                              16
News, Search and Messaging                 31
Others                                     61
Social, Finance, Analytics, Advertising    30
Name: category_list, dtype: int64
no. of category wise investmen under primary sector in ind primary_sector
Cleantech / Semiconductors    1
Entertainment                 1
Others                        1
Name: category_list, dtype: int64
no. of category wise investmen under primary sector in gbr primary_sector
Automotive & Sports                        1
Cleantech / Semiconductors                 2
Entertainment                              1
Manufacturing                              2
News, Search and Messaging                 2
Others                                     2
Social, Finance, Analytics, Advertising    2
Name: category_list, dtype: int64
##Highest investment US company ###                                 permalink                  name  \
25842   /organization/wafergen-biosystems   wafergen biosystems
16735   /organization/arcadia-biosciences   arcadia biosciences
22929  /organization/origene-technologies  origene technologies

                  homepage_url  category_list     status country_code  \
25842  http://www.wafergen.com  biotechnology        ipo          usa
16735    http://arcadiabio.com  biotechnology        ipo          usa
22929   http://www.origene.com  biotechnology  operating          usa

      state_code            region       city  founded_at  \
25842         ca       sf bay area    fremont         nan
16735         ca        sacramento      davis  01-01-2002
22929         md  washington, d.c.  rockville  01-01-1996

                        company_permalink  \
25842   /organization/wafergen-biosystems
16735   /organization/arcadia-biosciences
22929  /organization/origene-technologies

                               funding_round_permalink funding_round_type  \
25842  /funding-round/9f4304af6a945d4d3b0d1cdcf2a3cf56     private_equity
16735  /funding-round/5ee3442847053609598282f5f09dcb0b     private_equity
22929  /funding-round/131951229388495863a74f74dcc2a81a     private_equity

      funding_round_code   funded_at  raised_amount_usd  \
25842                nan  27-08-2013         15000000.0
16735                nan  31-10-2008         15000000.0
22929                nan  04-09-2012         15000000.0

                   primary_sector
25842  Cleantech / Semiconductors
16735  Cleantech / Semiconductors
22929  Cleantech / Semiconductors
##Highest investment IND company ###                                           permalink  \
102172                     /organization/senco-gold
40144   /organization/capricorn-food-products-india
58925           /organization/atria-brindavan-power

                                 name                 homepage_url  \
102172                     senco gold  http://www.sencogold.co.in/
40144   capricorn food products india    http://capricorngroup.com
58925           atria brindavan power                          nan

           category_list     status country_code state_code       region  \
102172           jewelry  operating          ind         28  ind - other
40144        hospitality  operating          ind         25      chennai
58925   clean technology  operating          ind         19    bangalore

             city  founded_at                            company_permalink  \
102172   calcutta  01-01-1938                     /organization/senco-gold
40144     chennai  01-01-1998  /organization/capricorn-food-products-india
58925   bangalore  01-01-2000          /organization/atria-brindavan-power

                                funding_round_permalink funding_round_type  \
102172  /funding-round/a7ab0e268f9f992df84f4243406178dc     private_equity
40144   /funding-round/b51b66e081d21756ccc351f63aa928d2     private_equity
58925   /funding-round/c23fe601b25d3fc62a4f109a1f13e678     private_equity

       funding_round_code   funded_at  raised_amount_usd  \
102172                nan  09-10-2014         13000000.0
40144                 nan  22-07-2013         10000000.0
58925                 nan  13-06-2013          8600000.0

                    primary_sector
102172               Entertainment
40144                       Others
58925   Cleantech / Semiconductors
##Highest investment GBR company ###                                permalink                 name  \
81265                /organization/arkex                arkex
81836       /organization/pts-consulting       pts consulting
56451  /organization/hcs-control-systems  hcs control systems

                             homepage_url  category_list     status  \
81265                http://www.arkex.com     consulting  operating
81836            http://ptsconsulting.com     consulting  operating
56451  http://www.hcs-control-systems.com  manufacturing  operating

      country_code state_code       region        city  founded_at  \
81265          gbr         c3       london   cambridge  01-01-2004
81836          gbr         h9       london      london  01-01-1983
56451          gbr         v1  gbr - other  glenrothes  01-01-1997

                       company_permalink  \
81265                /organization/arkex
81836       /organization/pts-consulting
56451  /organization/hcs-control-systems

                               funding_round_permalink funding_round_type  \
81265  /funding-round/45af240b405f71a6df791ba8fc84d8c7     private_equity
81836  /funding-round/9b366acacc6eb0e614d67e3c043a5208     private_equity
56451  /funding-round/561accac6151f0eeb80d91fdc2d06010     private_equity

      funding_round_code   funded_at  raised_amount_usd  \
81265                nan  26-06-2013         15000000.0
81836                nan  08-10-2013         13182687.0
56451                nan  07-07-2013         12879637.0

                                primary_sector
81265  Social, Finance, Analytics, Advertising
81836  Social, Finance, Analytics, Advertising
56451                            Manufacturing
##Highest 2nd  investment US company ###                               permalink                name  \
49828          /organization/ikasystems          ikasystems
39941  /organization/bluetarp-financial  bluetarp financial
30358             /organization/curacao             curacao

                    homepage_url        category_list     status country_code  \
49828  http://www.ikasystems.com  enterprise software   acquired          usa
39941    http://www.bluetarp.com     local businesses  operating          usa
30358        http://icuracao.com           e-commerce  operating          usa

      state_code           region          city  founded_at  \
49828         ma           boston  southborough  01-01-1999
39941         me  portland, maine      portland  01-01-1998
30358         ca      los angeles   los angeles  01-01-1978

                      company_permalink  \
49828          /organization/ikasystems
39941  /organization/bluetarp-financial
30358             /organization/curacao

                               funding_round_permalink funding_round_type  \
49828  /funding-round/b893ad806058dd820ec22847f329a61c     private_equity
39941  /funding-round/93fec4c0647ae4703c9cca3fbdffba58     private_equity
30358  /funding-round/5ad6edd298035d73dc7fd5c781f219ea     private_equity

      funding_round_code   funded_at  raised_amount_usd primary_sector
49828                nan  15-01-2014         15000000.0         Others
39941                nan  23-07-2013         15000000.0         Others
30358                nan  18-08-2011         15000000.0         Others
##Highest 2nd investment GBR company ###                       permalink        name          homepage_url  \
58284  /organization/key-travel  key travel  http://keytravel.com
78454   /organization/vtl-group   vtl group  http://vtl-group.com

      category_list     status country_code state_code        region  \
58284        travel  operating          gbr         h9        london
78454    automotive  operating          gbr         g8  huddersfield

               city  founded_at         company_permalink  \
58284        london  01-01-1980  /organization/key-travel
78454  huddersfield  01-01-2001   /organization/vtl-group

                               funding_round_permalink funding_round_type  \
58284  /funding-round/ecd80e62df9709fc8f1f6f146a4d27c0     private_equity
78454  /funding-round/d20ca36e87e7732c3c4abf8965e8ac81     private_equity

      funding_round_code   funded_at  raised_amount_usd       primary_sector
58284                nan  05-08-2013         13637262.0        Entertainment
78454                nan  26-09-2013          6061005.0  Automotive & Sports